body {
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.map {
    position: absolute;
    right: 0px;
    left: 30%;
    height: 100%;
    top: 0;
}

.sidebar-container {
    position: absolute;
    left: 0;
    width:30%;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 60px;
    background-color:rgb(0, 108, 128);
}

.title {
    color:azure;
    font-size:30px;
}

.intro {
    color:azure;
}

.choices {
    color:azure;
}

.selection {
    font-size: 22px;
    color:azure;
}

.form-check-input{
    background-color:rgb(233, 250, 252);
    border-top-color:rgb(0, 65, 102);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color:rgb(0, 65, 102);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color:rgb(0, 65, 102);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color:rgb(0, 65, 102);
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.form-check-input:checked[type=checkbox] {
    background-color: rgba(6, 132, 141, 0.719);
}

.form-check-input:checked[type=checkbox] {
    border-color:rgb(223, 255, 255);
}

.form-check-input {
    font-size:20px;
}


.legend {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.7);
    border-style: solid;
    border-color: rgb(128, 128, 128, 0.85);
    z-index: 2000;
    right: 0.5%;
    bottom: 5%;
    width: 180px;
  }

.legend2 {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.7);
    border-style: solid;
    border-color: rgb(128, 128, 128, 0.85);
    z-index: 2000;
    right: 0.5%;
    bottom: 5%;
    width: 180px;
  }

.legend-box {
    position:absolute;
    width: 25px;
    height: 15px; 
    left: 5%;
}
  
.legend-text{
    text-indent:5px;
}

.scenario-type{
    font-size: 18px;
}

.list-group-item-light {
    font-size: 18px;
    background-color:rgba(6, 87, 109, 0.719);
    color: white;
}

.list-group-item {
    padding:.3rem 0.3rem;
}

#para-notification{
    color:red;
}



  





/* =============
Media Queries
============= */

@media screen and (min-width: 480px) and (max-width: 800px) {
    /*.item {
        background-color: blue;
    }*/
   
}

@media screen and (max-width: 479px) {
    /*.item {
        background-color: red;
    }*/
   
}
